<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="Database1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\megaf\Downloads\ivan_bsbd-8e907503a39ccae1952128095b2994dc92b78542\ivan_bsbd-8e907503a39ccae1952128095b2994dc92b78542\ivan\Database1.mdf;Integrated Security=True" />
  <add name="ivan.Properties.Settings.Database1ConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>